<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
        <PatternLayout
                pattern="%style{%d{ISO8601}} %highlight{%-5level }[%style{%t}{bright,blue}] %style{%C{10}}{bright,yellow}: %msg%n%throwable" />
        </Console>
    <SplunkHttp name="Ecommerce"
          url = "https://127.0.0.1:8000"
          token="fb096a1d-f391-4db0-810e-4b9af671e82d"
          host="127.0.0.1"
          index = "history"
          sourcetype="log4j"
          disableCertificateValidation = "true">
        <PatternLayout pattern ="%msg"/>
    </SplunkHttp>
    </Appenders>

    <Loggers>
        <!-- LOG everything at INFO level -->
        <Root level="debug">
            <AppenderRef ref="console" />
            <AppenderRef ref="splunkhttp" />
        </Root>
    </Loggers>
</Configuration>